body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(104, 164, 184);
}

.players-layout{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 40%;
}

table {
  width: 20%;
  border-collapse: collapse;
  border: black 2px solid;
  font-size: 20px;
}

thead tr th{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: black 2px solid;
  padding-left: 10px;
  padding-right: 10px;
}

tbody tr td{
  font-family: Arial, Helvetica, sans-serif;
  border: black 2px solid;
  padding-left: 10px;
  padding-right: 10px;
}
